 @font-face {
  font-family: 'MTNBrighterSans';
  src: url('/luci-static/css/MTNBrighterSans-Medium.eot');
  src: url('/luci-static/css/MTNBrighterSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('/luci-static/css/MTNBrighterSans-Medium.svg#MTNBrighterSans-Medium') format('svg'),
       url('/luci-static/css/MTNBrighterSans-Medium.ttf') format('truetype'),
       url('/luci-static/css/MTNBrighterSans-Medium.woff') format('woff'),
       url('/luci-static/css/MTNBrighterSans-Medium.woff2') format('woff2');
  font-weight: normal;              
  font-style: normal;               
}                                   
                             
@font-face {                        
  font-family: 'MTNBrighterSans';   
  src: url('/luci-static/css/MTNBrighterSans-Light.eot');
  src: url('/luci-static/css/MTNBrighterSans-Light.eot?#iefix') format('embedded-opentype'),
       url('/luci-static/css/MTNBrighterSans-Light.svg#MTNBrighterSans-Light') format('svg'),
       url('/luci-static/css/MTNBrighterSans-Light.ttf') format('truetype'),
       url('/luci-static/css/MTNBrighterSans-Light.woff') format('woff'),
       url('/luci-static/css/MTNBrighterSans-Light.woff2') format('woff2');
  font-weight: normal;                                          
  font-style: normal;                                           
}  

body
{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
    font-family: MTNBrighterSans  !important;

}
ul{
	margin: 0;
	padding: 0;
}		
#Table_Body{
	width: 960px;
	margin-left: auto;
	margin-right: auto;

}
/*background-image: url('../../images/main_background.png');*/
#Table_login{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.header_content{
	/* background-image: url('../images/header_banner.png'); 
	background-repeat: no-repeat; */
	background: none;
	width : 100%;
	height : 100%;
	-webkit-border-radius : 10px 10px 0px 0px;
	-moz-border-radius : 10px 10px 0px 0px;
	border-radius : 10px 10px 0px 0px;
	-moz-box-shadow : 0px 0px 5px #96A7CC;
	-webkit-box-shadow : 0px 0px 5px #96A7CC;
	box-shadow : 0px 0px 5px #96A7CC;
	overflow:auto;
}	
.header_icon{
	text-align: right;
	width: 850px;
}

.header_logout{
	text-align:center;
	width:74px;
}	

.header_logout a{
	color: #00508b;
	text-decoration-style: none;
}

.main_content
{
	width : 100%;
	height : 100%;
	-webkit-border-radius : 0px 0px 10px 0px;
	-moz-border-radius : 0px 0px 10px 0px;
	border-radius : 0px 0px 10px 0px;
	background: #FFFFFF;
	-moz-box-shadow : 1px 1px #96A7CC;
	-webkit-box-shadow : 1px 1px #96A7CC;
	box-shadow : 1px 1px #96A7CC;
	padding: 0px 0px 0px 0px;
	overflow:auto;
}

.main_content_iran
{
	width : 100%;
	height : 100%;
	-webkit-border-radius : 0px 0px 10px 0px;
	-moz-border-radius : 0px 0px 00px 0px;
	border-radius : 0px 0px 0px 0px;
	background: #FFFFFF;
	-moz-box-shadow : 0px 0px #96A7CC;
	-webkit-box-shadow : 0px 0px #96A7CC;
	box-shadow : 0px 0px #96A7CC;
	padding: 0px 0px 0px 0px;
	overflow:auto;
}

.menu_header{
	background-color: #1576bb;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.content_header{
	background-color: #53b9e7;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 5px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
	display: inline-block;
	padding: 5px 5px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	-moz-box-shadow:1px 1px 1px #000000;/*firefox*/  
    -webkit-box-shadow:1px 1px 1px #000000;/*webkit*/  
    box-shadow:1px 1px 1px #000000;/*opera或ie9*/
    min-width: 65px;
}

.btn:hover {
  background-color: #F1F1F1;
  border-color: #887575;
}

.table-striped{
	border-collapse: collapse;
}

.table-striped td{
	border-width: 1px;
	border-style: solid;
	border-color: #d6d2d2;
	padding-top: 5px;
	padding-bottom: 5px;
} 
.table-striped th {
	background-color: #f1f1f1;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #d6d2d2;
	padding-top: 3px;
	padding-bottom: 3px;
}