
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
      margin-top: 30px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column.kma {
    margin-top: 150px;
}

.row {

    margin-left: -5.75rem !important ;
}

.column {
  float: left !important;
    padding: 70px !important;
    height: 450px !important;
    margin-top: -150px !important;
}

label {

text-align:left !important;
margin-left:-40px !important;
}

